/* Your button CSS file */

:root {
  --clr-medium: #999999;
  --clr-treehouse: #6ad58b;
  --clr-treehouse-hvr: #3ac162;
  --clr-red: #f72359;
  --clr-blue: #4405f7;
}

button {
  all: unset;
}

button::disabled {
  opacity: 0.65;
}

.banner-btn {
  max-width: 100px;
  position: relative;
  appearance: none;
  background-color: var(--clr-blue);
  padding: 1em 2em;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 100px;
}

.banner-btn a {
  color: #fafafa;
  position: relative;
}

.banner-btn::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background:radial-gradient(
    circle closest-side,
    var(--clr-treehouse-hvr),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: 
    width .2s ease-in,
    height .2s ease-out;
}

.banner-btn:hover::before {
  --size: 400px;
}